body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 30%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.flashes {
  margin-bottom: 20px;
}

.flash, .alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  list-style-type: none;
}

.flash.success, .alert-success {
  background-color: #d4edda;
  color: #155724;
}

.flash.danger, .alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

/* Register Page Specific Styles */
.container-register {
  max-width: 500px; /* Wider container for the register page */
}

form label {
  margin: 10px 0 5px;
}

form input {
  margin-bottom: 10px;
}

form button {
  background-color: #007bff; /* Blue button for register */
}

form button:hover {
  background-color: #0056b3;
}